* {
    background-color: rgb(197, 197, 197);
}

@font-face {
    font-family: saucer;
    /*a name to be used later*/
    src: url('../fonts/saucerbb-webfont.woff');
    /*URL to font*/
}

#header {
    display: flex;
    justify-content: center;
    font-family: saucer;
    font-size: 30px;
    color: rgb(53, 49, 49);
}

#title {
    transform: rotate(-2deg);
}

.content {
    display: flex;
    /* background-color: brown; */
    justify-content: space-around;

}



#settings,
#test {
    flex: 1;
}

#settings {
    border: solid yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    width: 300px;
}

#settings-grid-size,
#settings-color {
    display: flex;
    flex-flow: column;
    border: solid blue;
}

#settings-grid-size>h2 {
    flex-grow: 1;
}

#canvas,
#grid {
    display: flex;
}


.pixel {
    min-width: none;
    background-color: white;
    flex: 0;
    margin: 0px;
    width: 30px;
    aspect-ratio: 1;
}


h2 {
    margin: 0px;
    font-size: 30px;
}